.btn 
{
    word-break:break-word;
}
.label-add
{
    line-height: 28px;
    font-weight: bold;
}
.fleft
{
    text-align: left !important;
    padding-left: 20px;
}
table.styleWidth
{
    width: 50%;
}
.validation-summary-errors, .error, .f_req, .field-validation-error
{
    color: Red;
}
.nav-list li.hiddenField
{
    display: none;
}
.topLogo
{
    display: block;
    float: left;
    line-height: 49px;
    text-align: center;
    width: 100%;
    background: url('/content/img/logo.jpg') center center no-repeat;
    height: 121px;
    background-size: 100% 100%;
}
#navbar .Fluild-Edit
{
    position: relative;
}
#navbar .Fluild-Edit #OptionLogin
{
    position: absolute;
    top: 10px;
    width: 98%;
    height: initial;
}
#navbar .Fluild-Edit #OptionLogin .user-profile
{
    float: right;
}
.LockUser, .DeleteItem, .EditItem
{
    display: none;
}
.row-fluid .span33
{
    float:left;
    margin-right:5px;
    width:106px;
    display:inline;    
}
.row-fluid .span33 select,.row-fluid .span33 input
{
    width:100%;
}